<section id="contact">
    <h1 class="headings">Your Feedback</h1>
    
      <form action="" class="form">
        <input type="text" class="input" name="Name" placeholder="Enter your name">
        <br>
        <input type="email" class="input" name="Email" placeholder="Enter your email">
        <br>
        <textarea name="Msg" id="msg" cols="30" rows="10" placeholder="Enter your message"></textarea>
        <br>
        <input type="submit" value="send" id="send">
      </form>
    
  </section>
