
#About{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    max-width: 100%;
    text-align: center;
    background-color: bisque;
  }
  #pic{
    display:flex;
    
  }
  #pic img{
   
    max-width: 575px;
    height: 400px;
    background: url('../../../../image/sun1.jpg') no-repeat center center/cover;
  }
  #intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
  }
  #intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
  
  }