
<section id="About">
    <h1 class="headings">ABOUT ME</h1>
    <div id="pic">
      <img src="../../assets/images/bird1.jpg" alt="image" />
      
      <div id="intro">
        <h2>Hridoy Sutar</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eum
          rem exercitationem, distinctio minus expedita architecto incidunt
          ullam necessitatibus natus illum accusamus fugiat temporibus,
          delectus molestias quidem animi nisi. Et, ut. Hic numquam deleniti
          error corrupti non! Tempora maxime voluptates natus officiis eius?
          Ea facere nobis voluptatibus magni incidunt? Ducimus inventore
          dolorum corrupti consectetur saepe incidunt cupiditate aut, earum
          corporis mollitia, officiis molestiae tempore maiores a qui fuga
          ipsum iste. Incidunt consequuntur tenetur error in officia
          perferendis eos nam omnis. Tenetur, sed voluptatem. Temporibus minus
          explicabo excepturi minima quis. Quod rerum consequatur nostrum.
          Corrupti ipsam excepturi dolore eius veniam eaque?
        </p>
      </div>
      
    </div>
    
  </section>
  